# Core libraries
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
joblib

# NLP
nltk
spacy
textblob


# Streamlit Dashboard
streamlit
plotly
streamlit-folium

# Geospatial processing
folium
rasterio
geopandas

# PDF extraction
PyMuPDF

# Notebook support
jupyter

# Python typing support
typing-extensions

# Evaluation and plotting
altair

# Optional: for compatibility
python-dateutil

# spaCy language model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
