# requirements.txt

# Core
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
joblib

# NLP 
nltk
spacy

# Streamlit dashboard
streamlit
plotly

# Geospatial 
geopandas

# For interactive widgets, maps
folium
streamlit-folium

# Notebook environment
jupyter

# for config files 
pyyaml 

#for excel 
openpyxl

#for pdf
PyMuPDF


