# Core libraries
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
joblib

# NLP
nltk
spacy
textblob

# Streamlit Dashboard
streamlit
plotly
streamlit-folium

# Geospatial processing
folium
rasterio
geopandas

# PDF extraction
PyMuPDF

# Notebook support
jupyter

# for Python's type checking and modern syntax support
typing-extensions

# For model evaluation and plots
altair

# Optional: Used in Streamlit Cloud to ensure compatibility
python-dateutil

